@import "tailwindcss";

  .dotted-frame {
  background-image:
    radial-gradient(circle, rgba(0, 0, 0, 0.45) 1px, transparent 1px),
    radial-gradient(circle, rgba(0, 0, 0, 0.45) 1px, transparent 1px);
  background-position: left 0 top 0, right 0 top 0;
  background-repeat: repeat-y;
  background-size: 2px 12px, 2px 12px;
}

  .dotted-frame-bottom {
    background-image:
      radial-gradient(circle, rgba(0, 0, 0, 0.45) 1px, transparent 1px),
      radial-gradient(circle, rgba(0, 0, 0, 0.45) 1px, transparent 1px),
      radial-gradient(circle, rgba(0, 0, 0, 0.45) 1px, transparent 1px);
    background-position: left 0 top 0, right 0 top 0, left 0 bottom 0;
    background-repeat: repeat-y, repeat-y, repeat-x;
    background-size: 2px 12px, 2px 12px, 12px 2px;
  }



/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
